/* @font-face {
    font-family: 'Larsseit';
    src: local('Larsseit Thin'), local('Larsseit-Thin'),
        url('../Fonts/Larsseit-Thin.woff2') format('woff2'),
        url('../Fonts/Larsseit-Thin.woff') format('woff'),
        url('../Fonts/Larsseit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  } */

  .aboutus{
      margin-top: 150px;
      margin-bottom: 60px;
  }
.buttoncontact {
    font-size: 16px;
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    
    text-align: center;
    background: #62D0DF;
border-radius: 50px;
}
.button {
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    text-align: center;
    background-color: #FAB63E;
}
.contbottom{
    padding-bottom: 75px;
}
.colortext{    font-family: Larsseit;
    font-size: 20px;
    line-height: 29.3px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    
}

.bgwhy{ 
    background-color: #62D0DF;
}

.buttontext{
font-family: Larsseit;
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: 0.1em;
color: #FAB63E;
}
.buttonclear{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding-left: 38px;
}


.h1{
    font-family: Larsseit;
font-size: 48px;
line-height: 53px;
letter-spacing: -0.035em;
color: #22356F;
margin-bottom: 70px;
}

.h3{
    font-family: Larsseit;
font-size: 36px;
line-height: 27px;
letter-spacing: -0.006em;
color: #FFFFFF;
margin-bottom: 75px;
margin-top: 151px;
}

.h4{
font-family: Larsseit;
font-size: 24px;
line-height: 27px;
letter-spacing: -0.035em;
color: #62D0DF;

}

.h5{
    font-family: Larsseit;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.06em;
color: rgba(34, 53, 111, 0.5);
margin-bottom: 24px;
}

.h6{
    font-family: Larsseit;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #22356F;
    margin-bottom: 26px;
    
}
.headernav{
    padding-top: 20px;
}
.header{
    background: #F4F9E2;
}

.nav_text{
    font-family: Larsseit;
font-size: 14px;
line-height: 16px;
color: #22356F;
}

.phead{
    font-family: Larsseit;
font-size: 24px;
line-height: 42px;
color: #22356F;
margin-bottom: 40px;
}

.pabout{
    font-family: Larsseit;
font-size: 16px;
line-height: 23px;
letter-spacing: 0.06em;
color: #22356F;

}
.pwantto{
    font-family: Larsseit;
    font-size: 24px;
    line-height: 35px; 
    color: #FFFFFF;
    
}

.p6{
    font-family: Larsseit;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
    margin-bottom: 92px;
}

.headinfo{
    padding-top: 174px;
}

.containerimg{
    
}
.userimg {
    display: block;
    width: auto;
    height: auto;
    position: relative;
}

   
    .ssgirl{
            position: relative;
            margin: 0!important;
            padding: 0!important;
            overflow: hidden;
            background: #62D0DF;
    }
    .ss1{
            padding: 0px;
            margin: 0px;
    
    }
 
.thrivehead{
    padding-bottom: 20px;
}

.weightlifting{
 width: 360px;
height: 360px;
background: #FFE2DE;
}
.runningspinn{
    width: 360px;
    height: 360px;
    background: #C4E769;
}

.pumpingirona{
    width: 360px;
    height: 360px;
    background: #62D0DF;
}

.pumpingironb{
    width: 360px;
    height: 360px;
    background: #0052C1;
}

.pwewhant{
font-family: Larsseit;
font-size: 24px;
line-height: 34px;
letter-spacing: 0.005em;
color: #22356F;}

