/* @font-face {
    font-family: 'Larsseit';
    src: local('Larsseit Thin'), local('Larsseit-Thin'),
        url('../Fonts/Larsseit-Thin.woff2') format('woff2'),
        url('../Fonts/Larsseit-Thin.woff') format('woff'),
        url('../Fonts/Larsseit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  } */

  .aboutus{
      margin-top: 150px;
      padding-bottom: 60px;
  }
.buttoncontact {
    font-size: 16px;
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    
    text-align: center;
    background: #62D0DF;
border-radius: 50px;
}

.buttoncontactmini{
    font-size: 16px;
    width: 100px;
    height: 35px;
    border: none;
    color: white;
    
    text-align: center;
    background: #62D0DF;
border-radius: 35px;
}

.button {
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    text-align: center;
    background-color: #FAB63E;
}


.botcol{
    background: #62D0DF;

}

.bgwhy{ 
    background-color: #62D0DF;
}

.buttontext{
font-family: Larsseit;
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: 0.1em;
color: #FAB63E;
}



.butttextmini{
    font-family: Larsseit;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.buttontextblu{
font-family: Larsseit;
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: 0.1em;
color: #62D0DF;
margin-bottom: 42px;
}

.buttonclear{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding-left: 38px;
}


.buttonclearget{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.contbottom{
    padding-bottom: 75px;
}
.colortext{    font-family: Larsseit;
    font-size: 20px;
    line-height: 29.3px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    
}

.h1{
    font-family: Larsseit;
font-size: 48px;
line-height: 53px;
letter-spacing: -0.035em;
color: #22356F;
margin-bottom: 70px;
}

.h3{
    font-family: Larsseit;
font-size: 36px;
line-height: 27px;
letter-spacing: -0.006em;
color: #FFFFFF;
margin-bottom: 75px;
margin-top: 151px;
}

.h4{
font-family: Larsseit;
font-size: 24px;
line-height: 27px;
letter-spacing: -0.035em;
color: #62D0DF;

}

.h5{
    font-family: Larsseit;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.06em;
color: rgba(34, 53, 111, 0.5);
margin-bottom: 24px;
}

.h6{
    font-family: Larsseit;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #22356F;
    margin-bottom: 26px;
    
}

.h7{
    font-family: Larsseit;
font-size: 16px;
line-height: 12px;
letter-spacing: 0.06em;
color: #FFFFFF;
}

.h8{
  font-family: Larsseit;
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;
color: #FFFFFF;
text-decoration: overline;
text-decoration: overline  1px;

padding-top: 96px;
}
.h8::before{
    content: "•";
    color: #FAB63E;
    position: relative;
  
}

.diwready{
    padding-top: 103px;

}
.hready{
    font-family: Larsseit;
font-size: 64px;
line-height: 94px;
letter-spacing: -0.01em;
color: #FFFFFF;
margin-top: 230px;
margin-bottom: 70px;
}

.headernav{
    padding-top: 20px;
}
.header{
    background: #F4F9E2;
}

.nav_text{
    font-family: Larsseit;
font-size: 14px;
line-height: 16px;
color: #22356F;
}

.phead{
    font-family: Larsseit;
font-size: 24px;
line-height: 42px;
color: #22356F;
margin-bottom: 40px;
}

.ptake{
font-family: Larsseit;
font-size: 36px;
line-height: 53px;
letter-spacing: -0.005em;
color: #FFFFFF;
margin-bottom: 50px;
}

.pabout{
    font-family: Larsseit;
font-size: 16px;
line-height: 23px;
letter-spacing: 0.06em;
color: #22356F;

}
.pwantto{
    font-family: Larsseit;
    font-size: 24px;
    line-height: 35px; 
    color: #FFFFFF;
    
}


.p6{
    font-family: Larsseit;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
    margin-bottom: 92px;
}

.headinfo{
    padding-top: 174px;
}



.colorthrivetalk{
    color: #6CD3E1;
}

.userimg {
    display: block;
    width: auto;
    height: auto;
    position: relative;
}

   
    .ssgirl{
            position: relative;
            margin: 0!important;
            padding: 0!important;
            overflow: hidden;
            background: #62D0DF;
    }

    .sswrap{
        position: relative;
        margin: 0!important;
        padding: 0!important;
        overflow: hidden;
    }
    
    .ss1{
            padding: 0px;
            margin: 0px;
    
    }
    .sstiger{
        position: relative;
        margin: 0!important;
        padding: 0!important;
        overflow: hidden;
        background: #22356F
    }
    .sstwomen{
        position: relative;
        margin: 0!important;
        padding: 0!important;
        overflow: hidden;
        
}
 
.thrivehead{
    padding-bottom: 20px;
}

.weightlifting{
height: 360px;

background: #FFE2DE;
}

.runningspinn{
    height: 360px;
    background: #C4E769;
}

.pmdd{
font-family: Larsseit;
font-size: 36px;
line-height: 53px;
letter-spacing: -0.01em;
color: #22356F;
margin-bottom: 152px;
}

.pfooter{
 font-family: Larsseit;
font-size: 14px;
line-height: 23px;
letter-spacing: -0.006em;
color: rgba(34, 53, 111, 0.5);
}

.pbot{
    font-family: Larsseit;
font-size: 14px;
line-height: 11px;
letter-spacing: -0.006em;
color: #FFFFFF;
margin-top: 32px;
margin-bottom: 26px;
}

.pumpingirona{
    height: 360px;
    background: #62D0DF;
}

.pumpingironb{
    height: 360px;
    background: #0052C1;
}

.pwewhant{
font-family: Larsseit;
font-size: 24px;
line-height: 34px;
letter-spacing: 0.005em;
color: #22356F;}

.hyoushold{
font-family: Larsseit;
font-size: 16px;
line-height: 12px;
letter-spacing: 0.06em;
color: #22356F;
padding-top: 103px;
margin-bottom: 225px;
}

.hfooter{
    font-family: Larsseit;
font-size: 14px;
line-height: 11px;
letter-spacing: -0.006em;
color: #22356F;
margin-bottom: 50px;
}


.infobot{
    margin-top: 98px;
}








.imgcontent{
    padding-right: 0px;
    padding-left: 0px;
    margin-right:0px;
    margin-left: 0px;
}

.stick {
    position: relative;
    
}

.stick::after {
    width: 100%;
    height: 100%;
    content: "";
    background:  url(../images/joanna-kosinska-340748.png);
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    position: absolute;
    top: 0;
    
}


.stick:hover {
    z-index: 100;
}



.stick:hover::after {
    display: flex;
}


.imgstraw{
    height: 480px;
}

.h9{
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
    
}

.fourpict{
   padding-bottom: 70px;
}

.eightpict{
    padding-bottom: 70px;
}




.menu li {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    border: 0;
    outline: none;  
}

.menu__link  {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    color: #FFFFFF;  
}

.dropdown-menu {
    display: none;
    border: none;
    outline: none;
    /*margin-left: -1em;*/
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 600;
}
  
#dropdownMenuButton {
    background-color: #62D0DF;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 1rem;
}

